body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  max-width: 900px;
}
section {
  margin: 40px 80px;
}
img {
  margin: 10px;
}
div {
  font-size: 18px;
  line-height: 28px;
  font-family: PT Mono, monospace;
  margin-block-start: 1em;
  margin-block-end: 1em;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
li {
  list-style: none;
  color: #70757a;
  font-size: 14px;
  line-height: 16px;
}
